@using IcedMemories.Helpers
@model IcedMemories.Models.CakeViewModel

<script type="text/javascript">

  $(document).ready(function () {
    openStartTab("", "topLevel");
  });

  $(function () {
    $('#CakeDetails').submit(function (e) {
      e.preventDefault();
      var formData = new FormData(this);
      formData.append('ImageUpload', $('#ImageUpload')[0].files[0]);
      console.log(formData);
      $.ajax({
        url: '/Admin/CakeDetails',
        type: 'POST',
        cache: false,
        contentType: false,
        processData: false,
        enctype: 'multipart/form-data',
        data: formData,
        success: function (data) {
          $(location).attr('href', '/Admin/Cakes')
        }
      });
    });
  });
</script>
  <div class="modal-body">


    @using (Html.BeginForm("CakeDetails", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", name = "CakeDetails", id = "CakeDetails" }))
  {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <h4>Cake Details</h4>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      @Html.HiddenFor(model => model.Id)


      <div class="tabSuperCtl topLevel">
        <div class="tabHeader topLevel">
          <ul>
            <li id="CakeDetailsTabBtn" class="tabHeaderBtn topLevel defaultTab" onclick="openTab(this,'topLevel');">Cake Details</li>
            <li id="CakeCategoriesTabBtn" class="tabHeaderBtn topLevel" onclick="openTab(this,'topLevel');">Categories</li>
          </ul>
        </div>
        <div class="tabBody topLevel">
          <div id="CakeDetailsTab" class="tabCtl topLevel defaultTab">
            <div class="form-group">
              @Html.LabelFor(model => model.DateAdded, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.DisplayFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form-control" } })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
              </div>
            </div>

            <div class="form-group">
              @Html.LabelFor(model => model.ImageUpload, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.ImageFor(model => model.ImageLink, new { alt = Model.Title, Class = "cakeImage" })
                <input id="ImageUpload" name="ImageUpload" type="file">

              </div>
            </div>         
          </div>
          <div id="CakeCategoriesTab" class="tabCtl topLevel">
            <ul>
              @foreach (var item in Model.Categories)
              {
                Html.RenderPartial("CakeDetailsCategoryPartial", item);
              }
            </ul>          
          </div>
        </div>
      </div>




            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default modal-submission" />
              </div>
            </div>

          </div>
          }

          <div>
            @Html.ActionLink("Back to List", "Cakes")
          </div>

          @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
          }

        </div>
        <script type="text/javascript">
          $(function () {
            $('#approve-btn').click(function () {
              $('#modal-container').modal('hide');
            });
          });
        </script>
